#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.parent {
  border: 1px solid white;
  padding: 2rem;
  height: 300px;
  width: 300px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.Child1 {
  border: 2px solid rgb(95 97 110);
  border-radius: 0.5em;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputBg {
  background: #000;
}